- description 'Learn coding and web development in three months. Craft Academy is an intensive, practical and focused training where students learn programming in Ruby, Javascript, HTML5, and CSS, among others. We offer training on-location in Gothenburg and Stockholm and around the world by distance.'
- title 'About Us'

%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Craft Academy for Enterprise
      %p
        %strong
          Reskill or Upskill? On-site or Remote?
      %p
        Turn to Craft Academy for Enterprise for 100% instructor led training that will help your team of professionals grow.

%hr
%section
  .container
    %article
      %h3 Our mission
      %h4.copy--left
        We provide effective training
      %p.copy--left
        The field of programming and application development is undergoing constant changes. We work hard to keep ourselves and our customers up-to-date.
      %h2.copy-left
        New course releases Fall/Winter 2020 - 2021
        -# = partial :'/english/partials/_meet_our_coaches'
      - Course.all_active.each do |course|
        %div{style: 'margin-left: 40px; padding-right: 40px;', id: "course_#{course.slug}"}
          %h3{style: 'margin-top: 30px;'}
            = course.title
          %div
            %p.copy--left
              = course.description
            %h5.copy--left Description
            %p.copy--left
              = course.info
            %h5.copy--left Instructors
            %p.copy--left
              = course.instructors
            %h5.copy--left Date & Location
            %p.copy--left
              %ul.copy--left
                - course.dates.each do |date|
                  %li
                    = date
            %h5.copy--left Price
            %p.copy--left
              = course.price