- description 'Learn coding and web development in three months. Craft Academy is an intensive, practical and focused training where students learn programming in Ruby, Javascript, HTML5, and CSS, among others. We offer training on-location in Gothenburg and Stockholm and around the world by distance.'
- title 'About Us'

%section.hero-splash{style: "background-image: url(#{image_path('backgrounds/splash_3.jpg')});"}
  .container
    .centered-row
      %h1 Craft Academy for Enterprise
      %p
        %strong
          Reskill or Upskill? On-site or Remote?
      %p
        Turn to Craft Academy for Enterprise for 100% instructor led training that will help your team of professionals grow.

%hr
%section
  .container
    %article
      %h3 Our mission
      %h4.copy--left
        We provide effective training
      %p.copy--left
        The field of programming and application development is undergoing constant changes. We work hard to keep ourselves and our customers up-to-date.
        We focus on web application development and topics related to every aspect of the development process. From Agile Methodologies to Devops - and everything in between.
      %p.copy--left
        Our training programs, workshops and courses are always delivred as a mix of theory and practice. We believe that is the most effective way to learn.
      %h2.copy-left
        New course releases Fall/Winter 2020 - 2021
        -# = partial :'/english/partials/_meet_our_coaches'
      - Course.all_active.each do |course|
        %div{style: 'margin-left: 40px; padding-right: 40px;', id: "course_#{course.slug}"}
          %h3{style: 'margin-top: 30px;'}
            = course.title
          %div
            %p.copy--left
              = course.description
            %h5.copy--left Description
            %p.copy--left
              = course.info
            %h5.copy--left Instructors
            %p.copy--left
              = course.instructors
            %h5.copy--left Date & Location
            %p.copy--left
              %ul.copy--left
                - course.dates.each do |date|
                  %li
                    = date
            %h5.copy--left Price
            %p.copy--left
              = course.price
%section
  .container
    %article
      %h3
        Volume training
      %p.copy--left
        We know that training budgets can grow out of proportions when a shitf to a new technology is being done. If you are int the process of implementing React or VUE in your organization, accompanied with automated tests, we can help you set up an effective training strategy and offer attractive volume-based pricing.
      %h4 Training Vouchers
      %p.copy--left
        Training programs and courses needed for each team member may vary. We offer a volume pricing based on the total amount of training days you need to have your entire team reach your goals. The training Voucher you choose to purchase is valid for a full year and allows you to book seats on on-site courses in training facilities in Stockholm and Gothenburg.
      %table
        %thead
          %tr
            %th Training days
            %th Price
            %th Price per training day
        %tbody
          %tr
            %td 10
            %td 54 500 SEK - €5.450
            %td 5 450 SEK
          %tr
            %td 15
            %td 78 000 SEK - €7.800
            %td 5 200 SEK
          %tr
            %td 25
            %td 123 750 SEK - €12.750
            %td 4 950 SEK
%section
  .container
    %article
      %p
        %small Terms and conditions apply. All prices are excluding Swedish VAT and subject to change. The price in Euro is for your reference only. An invoice or CC payment request will be issued to your company/organization.
