%li{ class: current_if_current_page(current_page, '/english/about_us/') }
  = link_to 'About Us'.mb_chars.upcase, '/english/about_us.html'
-# %li{ class: current_if_current_page(current_page, '/english/employers/') }
-#   = link_to 'Hire!'.mb_chars.upcase, '/english/employers.html'
%li{ class: current_if_current_page(current_page, '/english/curriculum/') }
  = link_to 'Programs'.mb_chars.upcase, '/english/curriculum.html'
-# %li{ class: current_if_current_page(current_page, '/english/nomads/') }
-#   = link_to 'Nomads'.mb_chars.upcase, '/english/nomads.html'
%li{ class: current_if_current_page(current_page, '/english/payment/') }
  = link_to 'Prices'.mb_chars.upcase, '/english/payment.html'
%li{ class: current_if_current_page(current_page, '/english/nomads/') }
  = link_to 'Enterprise'.mb_chars.upcase, '/english/enterprise_training.html'
%li
  = link_to flag_image(:swedish), '/'
- if current_page.url == '/english/employers/'
  %li{ class: current_if_current_page(current_page, '/english/apply/') }
    = link_to 'Hire'.mb_chars.upcase, config.hire_form_url, class: 'button button--vertical', target: '_blank'
- elsif current_page_is_campaign_page?
  = link_to 'Ansök'.mb_chars.upcase, config.apply_form_url, class: 'button button--horizontal', target: '_blank'
- else
  %li{ class: "dropdown" }
    %button{class: 'button button--vertical dropbtn', id: 'apply_button'}
      Apply to...
    .dropdown-content
      = link_to 'Craft Academy BootCamps'.mb_chars.upcase, config.apply_form_url_english, target: '_blank'
      %p
        Our accelerated training programs in for aspiring software developers and cyber security professionals.
        %br For individuals, start-ups and organizations that are growing or going through a technology shift.
      %hr

      = link_to 'Craft Academy for Enterprise'.mb_chars.upcase, '/english/enterprise_training/'
      %p
        Our professional up-skilling and re-skilling training programs in JavaScript, productivity, version control, testing, etc.
        %br We deliver courses in Stockholm, Gothenburg or on site at the customer's premises.
      %hr